asgiref==3.9.1
asttokens==3.0.0
decorator==5.2.1
Django==5.0.14
django-taggit==5.0.1
django-widget-tweaks==1.5.0
executing==2.2.0
gunicorn==23.0.0
ipython_pygments_lexers==1.1.1
Markdown==3.6
packaging==25.0
psycopg==3.2.9
pure_eval==0.2.3
python-dotenv==1.1.1
sqlparse==0.5.3
stack-data==0.6.3
